*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#basketdiv{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    .box{
       .boxdiv{
        text-align: center;
        font-weight: bolder;
        border: 2px solid black;
        margin-bottom: 30px;
       }
        p{
            margin-top: 10px;
        }
        img{
          
            width:100%;
        }
        button{
            background-color: white;
            font-weight: bolder;
            border: 2px solid black;
            padding: 10px;
            margin-bottom: 30px;
        }
        button:hover{
background-color: black;
color: white;
border: 2px solid white;
transition: 0.3s;
        }
    }
}